<div class="hero-header" style="background-image:url({% if env == 'production' %}'images/{{ META.header.backdrop | imageVersion(1800) }}'{% else %}'images/{{ META.header.backdrop }}'{% endif %});">
  <header>
    <div class="front-page">
      {% if env == 'production' %}
      <img src="images/{{ META.header.image | imageVersion(1800) }}" srcset="images/{{ META.header.image | imageVersion(400) }} 400w, images/{{ META.header.image | imageVersion(800) }} 800w, images/{{ META.header.image | imageVersion(1200) }} 1200w, images/{{ META.header.image | imageVersion(1800) }} 1800w"
        alt="{{ META.header.headline }}" />
      {% else %}
      <img src="../../images/{{ META.header.image }}" />
      {% endif %}
    </div>
  </header>
</div>